@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/opensans-regular/OpenSans-Regular.eot');
    src: local('Open Sans'),
        local('Open Sans'),
        url('../fonts/opensans-regular/OpenSans-Regular.eot#iefix') format('embedded-opentype'),
        url('../fonts/opensans-regular/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/opensans-regular/OpenSans-Regular.woff') format('woff'),
        url('../fonts/opensans-regular/OpenSans-Regular.ttf') format('truetype');
}

body {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}